@(file: java.io.File,preIndex:Int)

@main("Welcome to Play 2.1") {


    <ul class="unstyled">
        @if(file.getParentFile.getAbsolutePath.length > preIndex) {
            <li><i class="icon-arrow-up"></i><a href="@routes.Application.file(file.getParentFile.getAbsolutePath.substring(preIndex))">..</a></li>
        } else {
            <li><i class="icon-arrow-up"></i><a href="/">..</a></li>
        }
        @file.listFiles.map{ file =>
            <li>@if(file.isDirectory){<i class="icon-folder-open"></i>}else{<i class="icon-download"></i>}<a href="@routes.Application.file(file.getAbsolutePath.substring(preIndex))">@file.getName</a></li>
        }
    </ul>

}
